# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments & IDEs
.env
.venv/
env/
venv/
.vscode/
.idea/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
logs/*.log

# Operating System Files
.DS_Store
Thumbs.db
